@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

#app {
  padding: 5px;
  background-color: #110312;
}

a,
.green {
  text-decoration: none;
  color: #589699;
  transition: 0.4s;
  padding: 3px;
  font-weight: 600;
  display: flex;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
 
}
